# Cloudflare Pages Configuration
name = "drozhealthfacts"
compatibility_date = "2024-01-01"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "droz-affiliate-db"
database_id = "1c2a47cf-1aa5-4f96-b6eb-a93c907678ad"